body {
  background-color: powderblue;
  font-family: sans-serif;
}
h1 {
  color: blue;
  font-family: sans-serif;
}
p {
  color: black;
  font-family: sans-serif;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
